# Python environment
.env
.venv/
venv/
ENV/
env/

arti_venv/

intermediate_data/
final_nlp_data.csv
final_nlp_data.pkl
ai-powered-article-analysis-and-recommendation_phase1.ipynb
analysis_results.pkl
medium_articles.csv
article_nextword.ipynb
representative_samples/
Hackathon Documents/
models/
# Byte-compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and cache
*.log
*.sqlite3
*.db
.cache/
*.pyc

# Output folders
dist/
build/
*.egg-info/

# Flask instance folder
instance/
