dnspython==2.7.0
email_validator==2.2.0
faiss-cpu==1.11.0.post1
fastapi==0.116.1
langchain==0.3.26
langchain-community==0.3.27
langchain-groq==0.3.6
pandas==2.3.1
PyMySQL==1.1.1
sentence-transformers==5.0.0
uvicorn==0.35.0

